#introduce .wrapper {
  margin: 0 auto;
  max-width: 1050px;
}
#introduce .wrapper .top {
  margin: 10px 0 60px 0;
  text-align: center;
  transition: transform 1.3s ease, opacity 1.3s ease;
}
#introduce .wrapper .top h2 {
  font-size: 33px;
  font-weight: 300;
  font-family: "GmarketSans";
}
#introduce .wrapper .content img {
  margin: 0 auto;
}
#introduce .wrapper .content .pb-60 {
  padding-bottom: 60px;
}
#introduce .wrapper .content .before {
  position: relative;
  text-align: right;
  padding-top: 80px;
}
#introduce .wrapper .content .before::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 500px;
  background: #eee;
  z-index: -1;
}
#introduce .wrapper .content .before img {
  display: inline;
  max-width: 800px;
}
#introduce .wrapper .content .info {
  padding-bottom: 100px;
  text-align: center;
}
#introduce .wrapper .content .info h3 {
  font-size: 36px;
  padding-bottom: 25px;
  font-weight: 300;
  line-height: 1.6;
  font-family: "GmarketSans";
}
#introduce .wrapper .content .info p {
  font-size: 21px;
  font-weight: 300;
  color: #999;
  line-height: 1.7;
}
#introduce .wrapper .content .history {
  font-size: 20px;
  font-weight: 400;
  border-left: 2px solid #eee;
  margin-left: 45%;
  margin-bottom: 60px;
}
#introduce .wrapper .content .history li {
  position: relative;
  padding: 100px 55px;
  text-align: left;
  line-height: 2;
}
#introduce .wrapper .content .history li::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 113px;
  left: -7px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #6aafe6;
}
#introduce .wrapper .content .history li h4 {
  position: absolute;
  top: 79px;
  left: -140px;
  font-size: 40px;
  font-weight: 700;
}

#videoIntroduce .wrapper {
  margin: 0 auto;
  max-width: 1050px;
}
#videoIntroduce .wrapper .top {
  margin: 10px 0 60px 0;
  text-align: center;
  transition: transform 1.3s ease, opacity 1.3s ease;
}
#videoIntroduce .wrapper .top h2 {
  font-size: 33px;
  font-weight: 300;
  font-family: "GmarketSans";
}
#videoIntroduce .wrapper .content iframe {
  margin: 0 auto;
}
#videoIntroduce .wrapper .content .pd-60 {
  padding-bottom: 60px;
}

#offline .wrapper .bg {
  width: 100%;
  height: 1100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("assets/images/about/offline.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  z-index: 1;
}
#offline .wrapper .mapWrap {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 3;
}
#offline .wrapper .mapWrap p {
  font-size: 11px;
  color: #fff;
  padding: 15px 0;
}
#offline .wrapper .mapWrap .home {
  padding: 15px 0;
}
#offline .wrapper .mapWrap .home svg {
  width: 35px;
  height: 35px;
  color: #fff;
  cursor: pointer;
}
#offline .wrapper .mapWrap .top {
  position: relative;
  width: 100%;
  padding: 15px 0;
  z-index: 2;
}
#offline .wrapper .mapWrap .top h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
#offline .wrapper #map {
  width: 100%;
  padding: 0 15px;
  padding-bottom: 60%;
}
#offline .wrapper #map .marker {
  width: 27px;
  height: 36px;
}