#introduce {
    .wrapper {
        margin: 0 auto;
        max-width: 1050px;

        .top {
            margin: 10px 0 60px 0;
            text-align: center;
            transition: transform 1.3s ease,opacity 1.3s ease;

            h2 {
                font-size: 33px;
                font-weight: 300;
                font-family: 'GmarketSans';
            }
        }

        .content {
            img {
                margin: 0 auto;
            }

            .pb-60 {
                padding-bottom: 60px;
            }

            .before {
                position: relative;
                text-align: right;
                padding-top: 80px;

                &::before {
                    content: '';
                    display: block;
                    clear: both;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 800px;
                    height: 500px;
                    background: #eee;
                    z-index: -1;
                }

                img {
                    display: inline;
                    max-width: 800px;
                }
            }

            .info {
                padding-bottom: 100px;
                text-align: center;

                h3 {
                    font-size: 36px;
                    padding-bottom: 25px;
                    font-weight: 300;
                    line-height: 1.6;
                    font-family: 'GmarketSans';
                }

                p {
                    font-size: 21px;
                    font-weight: 300;
                    color: #999;
                    line-height: 1.7;
                }
            }

            .history {
                font-size: 20px;
                font-weight: 400;
                border-left: 2px solid #eee;
                margin-left: 45%;
                margin-bottom: 60px;

                li {
                    position: relative;
                    padding: 100px 55px;
                    text-align: left;
                    line-height: 2;

                    &::after {
                        content: '';
                        display: block;
                        clear: both;
                        position: absolute;
                        top: 113px;
                        left: -7px;
                        width: 12px;
                        height: 12px;
                        border-radius: 10px;
                        background: #6aafe6;
                    }

                    h4 {
                        position: absolute;
                        top: 79px;
                        left: -140px;
                        font-size: 40px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

#videoIntroduce {
    .wrapper {
        margin: 0 auto;
        max-width: 1050px;

        .top {
            margin: 10px 0 60px 0;
            text-align: center;
            transition: transform 1.3s ease,opacity 1.3s ease;

            h2 {
                font-size: 33px;
                font-weight: 300;
                font-family: 'GmarketSans';
            }
        }

        .content {
            iframe {
                margin: 0 auto;
            }

            .pd-60 {
                padding-bottom: 60px;
            }
        }
    }
}

#offline {
    .wrapper {
        .bg {
            background-image: url('assets/images/about/offline.jpg');
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;

            #map {
                width: 100%;
                height:0;
                max-width: 1280px;
                padding: 0 15px;
                padding-bottom: 100%;
                margin: 0 atuo;

                .marker {
                    width: 27px;
                    height: 36px;
                }
            }
        }
    }
}