@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Outfit&display=swap);
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font: 0.8em "Outfit", "Noto Sans KR", "맑은 고딕", "Malgun Gothic", Verdana, Dotum, AppleGothic, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li, dl, dt {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 120px;
  padding: 0 120px;
  box-sizing: border-box;
  font-family: "GmarketSansMedium", "Noto Sans KR", sans-serif, "맑은 고딕", "Malgun Gothic";
  color: #fff;
}
#header .logo {
  position: absolute;
  left: 85px;
  width: 107px;
  background-image: url("../images/header/logo.svg");
  background-repeat: no-repeat;
  text-indent: -9999px;
  cursor: pointer;
  transition: opacity 0.25s ease;
}
#header .logo:hover {
  opacity: 0.7;
}
#header .menu {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 120px;
  box-sizing: border-box;
}
#header .menu li {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
#header .menu li > span {
  padding: 0 25px;
  font-size: 19px;
  cursor: pointer;
}
#header .menu li .subMenu {
  position: absolute;
  left: 0;
  top: 90%;
  width: 180px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.15s ease, opacity 0.15s ease;
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  padding: 12px 0;
}
#header .menu li .subMenu dt {
  padding: 10px 27px;
  font-size: 15px;
  transition: all 0.25s ease;
  cursor: pointer;
}
#header .menu li .subMenu dt:hover {
  color: #999;
}
#header .menu li:hover .subMenu {
  visibility: visible;
  opacity: 1;
}
#header .icons {
  position: absolute;
  right: 85px;
}

#fullpage .bannerWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fullpage .slide {
  width: 100%;
  height: 100%;
}
#fullpage .banner01 {
  background-image: url("../images/mainBg01_1.jpg");
}
#fullpage .banner02 {
  background-image: url("../images/mainBg01_2.jpg");
}
#fullpage .secContent {
  display: flex;
  align-items: center;
}
#fullpage .secContent > div {
  width: 50%;
}
#fullpage .secContent .left .products {
  position: relative;
  padding: 0 11% 20px;
  margin: 0 20%;
  max-width: 350px;
}
#fullpage .secContent .left .products .product {
  position: relative;
  margin: 22px 0 10px;
  cursor: pointer;
}
#fullpage .secContent .left .products .product img {
  width: 100%;
  border-radius: 16px;
}
#fullpage .secContent .left .products .product:hover .description {
  opacity: 1;
  visibility: visible;
}
#fullpage .secContent .left .products .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  border-radius: 50px;
  transition: transform 0.95s ease, opacity 0.25s ease, color 0.25s ease, background 0.25s ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.19);
  opacity: 0;
  color: #222;
  background: #fff;
  text-align: center;
  cursor: pointer;
}
#fullpage .secContent .left .products .arrow svg {
  width: 23px;
  height: 23px;
}
#fullpage .secContent .left .products .arrow.next {
  right: 0;
}
#fullpage .secContent .left .products .arrow.prev {
  left: 0;
}
#fullpage .secContent .left .products .arrow:not(.disable):hover {
  background: #222;
  color: #fff;
}
#fullpage .secContent .left .products:hover .arrow {
  opacity: 1;
}
#fullpage .secContent .left .products:hover .arrow.prev {
  transform: translate(30px, 0);
}
#fullpage .secContent .left .products:hover .arrow.next {
  transform: translate(-30px, 0);
}
#fullpage .secContent .left .products:hover .arrow.disable {
  opacity: 0.35;
}
#fullpage .secContent .left .products .description {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.93);
  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease, visibility 0.25s ease;
}
#fullpage .secContent .left .products .description .reviewCount {
  border: 1px solid #e7e7e7;
  padding: 6px 9px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 6px;
}
#fullpage .secContent .left .products .description .name {
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  padding-top: 12px;
}
#fullpage .secContent .left .products .description .brand {
  font-size: 19px;
  font-weight: 400;
  padding-top: 10px;
}
#fullpage .secContent .left .products .description .price {
  font-weight: bold;
  font-size: 19px;
  padding-top: 8px;
}
#fullpage .secContent .left .products .description .likes {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 25px;
  background: #fff;
  padding: 8px 12px;
  font-size: 13px;
}
#fullpage .secContent .left .products .description .likes .count {
  padding-left: 3px;
  color: #999;
}
#fullpage .secContent .left .products .description .icons {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#fullpage .secContent .left .products .description .icons svg {
  width: 20px;
  height: 20px;
  color: #999;
  border: 1px solid #e8e8e8;
  padding: 5px;
}
#fullpage .secContent .left .products .custom-dot span {
  padding: 5px 12px;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 15px;
  color: #999;
  font-weight: 400;
  transition: color 0.25s ease;
}
#fullpage .secContent .right span {
  display: inline-block;
  font-size: 23px;
  font-weight: 300;
  padding-bottom: 30px;
  font-family: "GmarketSansMedium";
}
#fullpage .secContent .right h2 {
  font-size: 72px;
  font-weight: 600;
}
#fullpage .secContent .right p {
  padding-top: 50px;
  font-size: 24px;
  font-weight: 300;
  font-family: "GmarketSansMedium", "Noto Sans KR", sans-serif, "맑은 고딕", "Malgun Gothic";
}