#noticeList {
    .wrapper {
        max-width: 1150px;
        margin: 0 auto;

        .table {
            td {
                &.subject {
                    position:relative;
                    font-size: 19px;
                    padding: 0 80px 0 20px;
                    color: #222;
                    text-align: left;
    
                    span {
                        cursor: pointer;
                    }
    
                    .view {
                        position:relative;
                        top: -2px;
                        background: #555;
                        border-radius: 3px;
                        padding: 6px 9px;
                        margin-right: 7px;
                        font-size: 11px;
                        color: #fff;
                    }
                }
            }
        }
    }
}