#banner {
  overflow: hidden;
}
#banner .slick-slide img {
  width: 100%;
}

#productList .wrapper {
  margin-top: 80px;
  padding: 0 70px;
}
#productList .wrapper .content {
  margin: 0 auto;
}
#productList .wrapper .content .nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}
#productList .wrapper .content .nav svg {
  width: 35px;
  height: 35px;
  color: gray;
  cursor: pointer;
}
#productList .wrapper .content .nav .grid svg {
  color: #222;
}
#productList .wrapper .content.typeA {
  max-width: 930px;
}
#productList .wrapper .content.typeA .products {
  grid-template-columns: repeat(2, 1fr);
}
#productList .wrapper .content.typeB {
  max-width: 1560px;
}
#productList .wrapper .content.typeB .products {
  grid-template-columns: repeat(4, 1fr);
}
#productList .wrapper .content .products {
  display: grid;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 80px;
}
#productList .wrapper .content .products .product .img {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}
#productList .wrapper .content .products .product .img:hover .likes {
  opacity: 1;
}
#productList .wrapper .content .products .product .img:hover .icons {
  opacity: 1;
  bottom: 10px;
}
#productList .wrapper .content .products .product .img .likes {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #e8e8e8;
  border-radius: 25px;
  background: #fff;
  opacity: 0;
  font-family: "GmarketSans";
  transition: opacity 0.5s ease;
}
#productList .wrapper .content .products .product .img .likes button {
  position: relative;
  top: 2px;
  padding: 8px 12px;
  line-height: 1.5;
}
#productList .wrapper .content .products .product .img .likes strong {
  color: #222;
  font-size: 13px;
  font-weight: 400;
}
#productList .wrapper .content .products .product .img .likes .count {
  font-size: 13px;
  color: #999;
  padding-left: 3px;
}
#productList .wrapper .content .products .product .img .icons {
  display: flex;
  position: absolute;
  bottom: -10px;
  right: 10px;
  opacity: 0;
  transition: all 0.5s ease;
}
#productList .wrapper .content .products .product .img .icons span {
  padding: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
}
#productList .wrapper .content .products .product .img .icons span svg {
  width: 15px;
  height: 15px;
}
#productList .wrapper .content .products .product .description {
  position: relative;
  padding-right: 65px;
}
#productList .wrapper .content .products .product .description .name {
  line-height: 1.3;
  color: #222;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}
#productList .wrapper .content .products .product .description .reviewCount {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #e7e7e7;
  padding: 6px 9px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 400;
}
#productList .wrapper .content .products .product .description .price {
  font-size: 21px;
  color: #222;
  font-weight: 700;
  margin-top: 5px;
}
#productList .wrapper .content .products .product .description .discountPrice {
  font-size: 21px;
  color: #222;
  font-weight: 400;
}