#reviewList .wrapper {
  margin: 0 auto;
  max-width: 1150px;
}
#reviewList .wrapper .reviews {
  margin-top: 60px;
  padding-bottom: 120px;
}
#reviewList .wrapper .reviews .arrow.prev {
  left: -100px;
}
#reviewList .wrapper .reviews .arrow.next {
  right: -100px;
}
#reviewList .wrapper .reviews .review {
  padding-right: 15px;
}
#reviewList .wrapper .reviews .review .wrap {
  border: 1px solid #e7e7e7;
  text-align: center;
  border-radius: 25px;
  overflow: hidden;
  background: #fff;
}
#reviewList .wrapper .reviews .review .wrap .img {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #eee;
  background-image: url("assets/images/review/logo_b.png");
  border-radius: 25px 25px 0 0;
  overflow: hidden;
}
#reviewList .wrapper .reviews .review .wrap .img > div {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#reviewList .wrapper .reviews .review .wrap .img > div img {
  width: 100%;
}
#reviewList .wrapper .reviews .review .wrap .description {
  border-radius: 0 0 25px 25px;
  padding: 30px 25px;
}
#reviewList .wrapper .reviews .review .wrap .description .title {
  font-weight: 400;
  font-size: 18px;
  color: #222;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
}
#reviewList .wrapper .reviews .review .wrap .description .contents {
  display: -webkit-box;
  font-size: 15px;
  font-weight: 400;
  color: #999;
  margin-top: 12px;
  height: 50px;
  line-height: 25px;
  text-overflow: ellipsis;
  word-wrap: normal;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#reviewList .wrapper .reviews .review .wrap .description .stars {
  display: inline-block;
  padding-top: 15px;
}
#reviewList .wrapper .reviews .review .wrap .description .stars img {
  display: inline;
}
#reviewList .wrapper .reviews .review .wrap .product {
  position: relative;
  border-top: 1px dashed #e7e7e7;
  min-height: 68px;
}
#reviewList .wrapper .reviews .review .wrap .product .pdImg {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 48px;
  height: 48px;
  border-radius: 12px;
}
#reviewList .wrapper .reviews .review .wrap .product .title {
  display: inline-block;
  padding: 23px 18px 23px 75px;
  color: #999;
  text-align: left;
  text-overflow: ellipsis;
  word-wrap: normal;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  font-size: 15px;
}
#reviewList .wrapper .board .title {
  font-size: 28px;
  font-weight: 300;
  padding-bottom: 15px;
  font-family: "GmarketSans";
}
#reviewList .wrapper .board .table td.product p {
  display: flex;
  cursor: pointer;
}
#reviewList .wrapper .board .table td.product .pdImg img {
  width: 56px;
  border-radius: 6px;
}
#reviewList .wrapper .board .table td.product .name {
  width: 100px;
  padding-left: 8px;
}
#reviewList .wrapper .board .table td.category span {
  padding: 6px 8px;
  background: #eee;
  border-radius: 10px;
  font-size: 14px;
  color: #555;
}
#reviewList .wrapper .board .table td.subject {
  position: relative;
  font-size: 19px;
  padding: 0 80px 0 20px;
  color: #222;
  text-align: left;
}
#reviewList .wrapper .board .table td.subject span {
  cursor: pointer;
}
#reviewList .wrapper .board .table td.subject .view {
  position: relative;
  top: -2px;
  background: #555;
  border-radius: 3px;
  padding: 6px 9px;
  margin-right: 7px;
  font-size: 11px;
  color: #fff;
}
#reviewList .wrapper .board .table td.subject .img {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border-radius: 50%;
  overflow: hidden;
}